# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
Thumbs.db

# Local env files
.env
.env.*

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv